.logo{
 width: 100px;
 min-height: 30px;
}
.card{
    width: 18rem;
    background: none;
}
.jumbo{
   background-image: url(../img/jumbo-bg.png);
   min-height: 670px; 
   background-position: center;
}
.card_giochi{
    min-width: 90px;
}
.card_giochi img{
    border-radius: 25px;
}
.descrizione_prodotto{
    max-height: 600px;
}
.card_playstation{
 max-width: 100%;
}
.card_accessori{
 min-width: 100%;  
}
.card_accessori img{
    border-radius: 10px;
}
.jumbo-secondario{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
   min-height: 670px; 
   background-position: center;
}
